.success-box {
  width: 60%;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  background: #f1fff4;
  box-shadow: 0 0 10px #ccc;
}

.order-info p {
  font-size: 16px;
  margin: 8px 0;
}

.product-card {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  box-shadow: 0 0 5px #ddd;
}
